{% extends "layout.html" %}
{% block main %}
    <article>
        <header>
        </header>
        <main>
            <div id="metrics">
            <h2 class="title-1">Homework 1</h2>
                <h4 class="title-1">Student 1</h4>
            <div id="metrics-page">
            <h3 class="title-1">Score</h3>
            <p class="text-grey">4/5</p>
            <h3 class ="title-1">Places to work on</h3>
            <p class="text-grey">KNN</p>
            <h3 class="title-1">Spent most time</h3>
            <p class="text-grey">Naive Bayes</p>
            <h3 class="title-1">Least confident in</h3>
            <p class="text-grey">KNN</p>
                </div>
            <div><button class="btn-1"><a href="{{ url_for('main.teacher_submissions') }}">Return</a></button></div>
                </div>
        </main>

    </article>
{% endblock %}
